.winner-trophy {
	.cls-1,
	.cls-9 {
		fill: #6c63ff;
	}

	.cls-1,
	.cls-10,
	.cls-6,
	.cls-8 {
		opacity: 0.12;
	}

	.cls-1,
	.cls-10,
	.cls-6 {
		isolation: isolate;
	}

	.cls-2 {
		fill: url(#linear-gradient);
	}

	.cls-3 {
		fill: #be6f72;
	}

	.cls-4 {
		fill: #3f3d56;
	}

	.cls-5 {
		fill: #65617d;
	}

	.cls-7 {
		fill: #e3e8f4;
	}

	.cls-10 {
		fill: #fff;
	}
}
