@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import './Sass/variables';

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans', sans-serif;
	background-color: hsla(256, 100%, 94%, 1);
	background-color: $primaryBG;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
